@font-face {
  font-family: 'MLIEUDC';
  // src: url('{中台API}') format('woff2');
  src: url('MLIEUDC.woff2') format('woff2'); // 先匯入檔案至前端專案中
}

body,
div,
p,
span,
a,
title,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
input {
  font-family:
    'MLIEUDC',
    'EUDC',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji' !important;
}

//body {
//  // font-family: 'MLIKAI', 'MLIMing', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
//  //   'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
//  //   'Segoe UI Symbol', 'Noto Color Emoji' !important;
//  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
//    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
//    'Noto Color Emoji' !important;
//}