.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 72px;
}

.title {
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}

.icon {
  height: 40px;
  padding-top: 12px;

  .iconfont {
    font-size: 28px;
    line-height: 28px;
  }
}

.microApps {
  height: 100%;
}
