@font-face {
  font-family: 'iconfont'; /* Project id 3534957 */
  src:
    url('iconfont.woff2?t=1705995824050') format('woff2'),
    url('iconfont.woff?t=1705995824050') format('woff'),
    url('iconfont.ttf?t=1705995824050') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Reoutput-doc:before {
  content: '\e71a';
}

.icon-download-report:before {
  content: '\e719';
}

.icon-output-document:before {
  content: '\e718';
}

.icon-write-off:before {
  content: '\e717';
}

.icon-rename:before {
  content: '\e716';
}

.icon-recalculate:before {
  content: '\e715';
}

.icon-not-allowed:before {
  content: '\e714';
}

.icon-confirmation-claims:before {
  content: '\e713';
}

.icon-submit-for-review:before {
  content: '\e712';
}

.icon-recommender:before {
  content: '\e711';
}

.icon-add-version:before {
  content: '\e710';
}

.icon-modify-product:before {
  content: '\e70d';
}

.icon-new-product:before {
  content: '\e70e';
}

.icon-product-upgrade:before {
  content: '\e70f';
}

.icon-progress-details:before {
  content: '\e70c';
}

.icon-claims:before {
  content: '\e70b';
}

.icon-finish-material:before {
  content: '\e708';
}

.icon-notice-material:before {
  content: '\e709';
}

.icon-add-material:before {
  content: '\e70a';
}

.icon-confirm-state:before {
  content: '\e707';
}

.icon-close2:before {
  content: '\e6fd';
}

.icon-minus2:before {
  content: '\e6fe';
}

.icon-minus1:before {
  content: '\e6ff';
}

.icon-add2:before {
  content: '\e700';
}

.icon-tag:before {
  content: '\e701';
}

.icon-Notice:before {
  content: '\e702';
}

.icon-add1:before {
  content: '\e703';
}

.icon-close1:before {
  content: '\e704';
}

.icon-warning:before {
  content: '\e705';
}

.icon-verify:before {
  content: '\e706';
}

.icon-Examiner:before {
  content: '\e6fc';
}

.icon-competition_two:before {
  content: '\e6fb';
}

.icon-AG:before {
  content: '\e6fa';
}

.icon-Bancassurance:before {
  content: '\e6f9';
}

.icon-finance:before {
  content: '\e6f8';
}

.icon-void:before {
  content: '\e6f7';
}

.icon-login-file-download:before {
  content: '\e6f6';
}

.icon-reply-file-upload:before {
  content: '\e6f4';
}

.icon-reply-file-download:before {
  content: '\e6f5';
}

.icon-correction:before {
  content: '\e6f3';
}

.icon-reply-mark:before {
  content: '\e6f1';
}

.icon-upload-mark:before {
  content: '\e6f2';
}

.icon-left:before {
  content: '\e6ed';
}

.icon-right:before {
  content: '\e6ee';
}

.icon-up:before {
  content: '\e6ef';
}

.icon-down:before {
  content: '\e6f0';
}

.icon-discount:before {
  content: '\e6eb';
}

.icon-ratio-change:before {
  content: '\e6ec';
}

.icon-training-confirmation:before {
  content: '\e6ea';
}

.icon-clear-data:before {
  content: '\e6e9';
}

.icon-attendance-maintenance:before {
  content: '\e6e7';
}

.icon-staff-maintenance:before {
  content: '\e6e8';
}

.icon-implement:before {
  content: '\e6e5';
}

.icon-premit-completed:before {
  content: '\e6e6';
}

.icon-new-version:before {
  content: '\e6e3';
}

.icon-retrieve:before {
  content: '\e6e4';
}

.icon-attendance-detail:before {
  content: '\e6e2';
}

.icon-application-maintenance:before {
  content: '\e6db';
}

.icon-qualified-maintenance:before {
  content: '\e6dc';
}

.icon-subsidy:before {
  content: '\e6dd';
}

.icon-submit-department:before {
  content: '\e6de';
}

.icon-diplomatic-note:before {
  content: '\e6df';
}

.icon-sign-off:before {
  content: '\e6e0';
}

.icon-competition:before {
  content: '\e6e1';
}

.icon-folder-two:before {
  content: '\e6d8';
}

.icon-official:before {
  content: '\e6d9';
}

.icon-official-trailer:before {
  content: '\e6da';
}

.icon-manage:before {
  content: '\e6d4';
}

.icon-performance:before {
  content: '\e6d5';
}

.icon-reserve:before {
  content: '\e6d6';
}

.icon-admin:before {
  content: '\e6d7';
}

.icon-remove-batch:before {
  content: '\e6d2';
}

.icon-add-batch:before {
  content: '\e6d3';
}

.icon-batch:before {
  content: '\e6d1';
}

.icon-contract:before {
  content: '\e6d0';
}

.icon-exam:before {
  content: '\e6cb';
}

.icon-transfer:before {
  content: '\e6cc';
}

.icon-renzizhuanyi:before {
  content: '\e6cd';
}

.icon-health-insurance:before {
  content: '\e6ce';
}

.icon-profile:before {
  content: '\e6cf';
}

.icon-ticket:before {
  content: '\e6ca';
}

.icon-start:before {
  content: '\e6c8';
}

.icon-pause:before {
  content: '\e6c9';
}

.icon-submit-document:before {
  content: '\e6c7';
}

.icon-download:before {
  content: '\e6c6';
}

.icon-back:before {
  content: '\e6c5';
}

.icon-approve-upload:before {
  content: '\e6c4';
}

.icon-folder-upload:before {
  content: '\e6c3';
}

.icon-premit:before {
  content: '\e6c2';
}

.icon-reset-password:before {
  content: '\e6c0';
}

.icon-attendance:before {
  content: '\e6c1';
}

.icon-excel:before {
  content: '\e6b8';
}

.icon-ppt:before {
  content: '\e6b9';
}

.icon-txt:before {
  content: '\e6ba';
}

.icon-word:before {
  content: '\e6bb';
}

.icon-zip:before {
  content: '\e6bc';
}

.icon-pdf:before {
  content: '\e6bd';
}

.icon-pic:before {
  content: '\e6be';
}

.icon-export:before {
  content: '\e6bf';
}

.icon-print-payment:before {
  content: '\e6b7';
}

.icon-admission-ticket:before {
  content: '\e6b6';
}

.icon-arrow-up:before {
  content: '\e6b2';
}

.icon-arrow-down:before {
  content: '\e6b3';
}

.icon-student-management:before {
  content: '\e6b4';
}

.icon-expand:before {
  content: '\e6b5';
}

.icon-training-closed:before {
  content: '\e6b1';
}

.icon-change-record:before {
  content: '\e6ac';
}

.icon-calendar:before {
  content: '\e69b';
}

.icon-edit-template:before {
  content: '\e6af';
}

.icon-link:before {
  content: '\e6ae';
}

.icon-avatar:before {
  content: '\e6ad';
}

.icon-history-record:before {
  content: '\e6aa';
}

.icon-setting-config:before {
  content: '\e6ab';
}

.icon-remind:before {
  content: '\e685';
}

.icon-power:before {
  content: '\e694';
}

.icon-delete:before {
  content: '\e688';
}

.icon-email:before {
  content: '\e6a9';
}

.icon-more-two:before {
  content: '\e6a8';
}

.icon-communication:before {
  content: '\e6a6';
}

.icon-organization:before {
  content: '\e6a7';
}

.icon-search:before {
  content: '\e6a1';
}

.icon-more-one:before {
  content: '\e6a2';
}

.icon-add-staff:before {
  content: '\e6a3';
}

.icon-remove-staff:before {
  content: '\e6a5';
}

.icon-setting:before {
  content: '\e6a0';
}

.icon-home:before {
  content: '\e67f';
}

.icon-user:before {
  content: '\e687';
}

.icon-help:before {
  content: '\e689';
}

.icon-rotate-left:before {
  content: '\e68a';
}

.icon-reissue-certificate:before {
  content: '\e699';
}

.icon-rotate-right:before {
  content: '\e69f';
}

.icon-preview-open-one:before {
  content: '\e69d';
}

.icon-preview-close:before {
  content: '\e69e';
}

.icon-folder:before {
  content: '\e697';
}

.icon-zoom-out:before {
  content: '\e69a';
}

.icon-zoom-in:before {
  content: '\e69c';
}

.icon-data:before {
  content: '\e693';
}

.icon-lesson-information:before {
  content: '\e695';
}

.icon-team:before {
  content: '\e696';
}

.icon-check-reason:before {
  content: '\e683';
}

.icon-reconsideration:before {
  content: '\e692';
}

.icon-refund:before {
  content: '\e691';
}

.icon-audit:before {
  content: '\e690';
}

.icon-save:before {
  content: '\e68f';
}

.icon-change-test-area:before {
  content: '\e68e';
}

.icon-cancel-application:before {
  content: '\e68c';
}

.icon-apply:before {
  content: '\e68d';
}

.icon-post:before {
  content: '\e68b';
}

.icon-share:before {
  content: '\e65d';
}

.icon-print:before {
  content: '\e664';
}

.icon-accept:before {
  content: '\e669';
}

.icon-detail:before {
  content: '\e672';
}

.icon-more-three:before {
  content: '\e674';
}

.icon-privilege:before {
  content: '\e675';
}

.icon-edit-profile:before {
  content: '\e67e';
}

.icon-update:before {
  content: '\e681';
}

.icon-edit-staff:before {
  content: '\e684';
}

.icon-sort:before {
  content: '\e686';
}

.icon-commission:before {
  content: '\e654';
}

.icon-personnel:before {
  content: '\e656';
}

.icon-qos:before {
  content: '\e657';
}

.icon-training:before {
  content: '\e659';
}

.icon-marketing:before {
  content: '\e65b';
}
